[ ca ]
default_ca = default_CA
[ default_CA ]
dir = .
certs = $dir
new_certs_dir = $dir/newcerts
database = index.txt
serial = serial.txt
RANDFILE = seed.rnd
certificate = certiplus.root.crt
private_key = ecc.root.key.pem
default_days = 3650
default_crl_days = 30
default_md = sha256
preserve = yes
x509_extensions = appli
policy = policy_anything
[ policy_anything ]
commonName = supplied
emailAddress = supplied
[ appli ]
subjectAltName = email:copy
basicConstraints = critical,CA:false
authorityKeyIdentifier = keyid:always
subjectKeyIdentifier = hash
extendedKeyUsage = clientAuth,emailProtection
